#hoard {
    @import "./components/**/*.scss";

    .card-body {
        padding: 0;
    }
}

#hoard-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
}

.welcome {
    margin-right: 2rem;
}

.card {
    margin-bottom: 1rem;
}

.pagination {
    margin-right: 1rem;
    margin-left: auto;
}

a[aria-current] {
    font-weight: bold;
}

.btn {
    margin: 0.5rem;
}

.LoginPrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;

    .email, .password {
        width: 20rem;
        text-align: right;
    }

    .login-button {
        margin-left: 10rem;
    }
}
